footer {
	background:#e1deda;
  margin-top:4em;
    padding:4em;
    font-family: europa, sans-serif;
    font-size:.6em;
    font-weight:400;
    letter-spacing:2px;
    text-transform:uppercase;
    display:grid;
    grid-template-columns: 1fr 350px;
    grid-gap: 6em;
    z-index: 100;
    position: relative;



    h3 {
      font-family: europa, sans-serif;
    font-size:.6em;
    font-weight:400;
    letter-spacing:2px;
text-transform:uppercase;
    }
 @media screen and (max-width: 800px) {
    grid-template-columns: 1fr ;

  margin: 0em;
    grid-gap: 0em;
    padding:4em 1em;

    width: 100%;
}

small {
  grid-column: 1/-1;
  margin: 0;
  font-size:.6em;

   @media screen and (max-width: 800px) {
padding: 1em;
   order:3;

   margin-top:4em;
}

  a {
  text-decoration:none;
  color:black;
  }
}

.three-col {
      grid-template-columns: repeat(3, 1fr);
     display: grid;
    grid-column-gap: 2rem;

    .col {
           @media screen and (max-width: 800px) {
margin:  0;

   
}
    }

    ul {
    padding:0;

     @media screen and (max-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
      margin:  1em 0 0;
     display: grid;
    grid-column-gap: 0;
}

    }

         @media screen and (max-width: 800px) {
    grid-template-columns: 1fr ;
       order: 2;
    margin: 0em;
      padding: 0 1em;
    width: 100%;
}
}

#mc_embed_signup {
    justify-self:right;
align-self:center;
    width: 100%;

       @media screen and (max-width: 800px) {
margin: 3em 0;
      padding: 0 1em;
   
}


    #mc_embed_signup_scroll {
    border-top:1px solid;
display:grid;
    padding: 17px 0;
grid-template-columns: 1fr 1fr;
 input {
 border:none;
outline:none;
background:transparent;
 font-family: europa, sans-serif;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:.7em;
 justify-self:left;
 min-width:100px;

 }
.submit-button {
    justify-self:right;
}

    }
}
}