/*================ Site Header ================*/

.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

#shopify-section-header {
        position: sticky;
        top: 0;
        background:#ffffff57;
z-index:10000;

}

header {
display:grid;
grid-template-columns: 150px 1fr 111px;
margin: 0;
font-size:.7em;
letter-spacing:2px;
padding:10px 2em 0;
font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
@media screen and (max-width: 800px) {  
padding:1.3em;
    grid-template-columns: 90px 1fr 111px;
        }

    
    .koa-logo {
    @media screen and (max-width: 800px) {  
        grid-column-start:2;
        justify-self:center;

        }
    }



	svg {
	max-width:100%;
	width:90px;
	}
li {
	list-style:none;
    padding: 0 13px;



	a {
	text-decoration:none;
	color:black;
	}

	.nav-links {
	font-size:.9em;

	}
}

nav {
	    justify-self: right;
    text-transform: uppercase;
    justify-items: right;
    justify-content: right;
	@media screen and (max-width: 800px) {
display:none;
  
   
}
    
	ul {
	padding:0;
	display:grid;
	grid-template-columns:100px 111px 93px 98px ;
	    justify-items: right;
	}

	.nav-bottom--right {
	display:grid;
	    grid-template-columns: 1fr 100px;
    padding: 1em 0;
    justify-items: right;
    grid-gap:1em;

	a {
	text-decoration:none;
	color:black;
	    margin: 4px 0;
    border-left: 2px solid;
    padding-left: 13px;
	}
	}
}
}

.mobile-nav--button {
display:none;
@media screen and (max-width: 800px) {
       display: block;
    position: absolute;
    left: 0px;
    top: 40px;
}

.mobile-menu svg {
  max-width: 56px;
}
	
}


.modal-box.mobile.active {
    left: 0;

    border: 1px solid;
}


.modal-box.mobile {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    position: fixed;
    z-index: 9999;
    top: 0;
        left: -100%;
    background:#fff;
    height: 100%;
    width: 100%;
overflow-y:scroll;

button {
    background:transparent;
    border:none;

     position: absolute;
    right: 30px;
    top: 22px;

}




    .menu {
        width: 100%;
    height: 100%;
    padding: 31px;

    nav {
    display:block;
    ul {
    display:block;
    li {
    border-right:none;

    }
    }
    }

    li {
    margin: 4em 0;
    display: block;
    text-align: center;


    a {
        display: inline;
    padding: 10px 0;
    position: relative;
   transition: .3s; 

&:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 1px;
    background: #333;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
  &:nth-of-type(3):after {
    right: 0;
    left: auto;
  }

    &:hover {
    &:after {
      width: 100%;
      left: 0;
    }}
    
  
    
    }
    }

    }

 
}

.modal-box.open {
    display:block;

    .menu ul {
    margin:8em 0 0;
    padding:0;
    li {
    text-align:center;
    font-size:1.5em;
    margin:1em 0;
    font-weight:bold;
    }
    }
    }
.account-login {
	text-align:right;
}



.cart-quantity {
  cursor: pointer;
}

.cart-drawer-outer {
  display: none;

  &.is-active {
    display: block;
  }
  &.is-visible {
    .cart-drawer {
      transform: translateX(0);
    }
    .cart-drawer-overlay {
      opacity: 0.8;
    }
  }
}
.cart-drawer-overlay {
  opacity: 0;
  transition: all var(--slow) var(--ease);
}
.cart-drawer {
  max-width: 500px;
  transition: all var(--slow) var(--ease);
  transform: translateX(100%);
  flex-direction: column;
  padding-bottom: 160px; /* make room for footer */

  header {
    border-bottom: 1px solid var(--gray);
    height: 75px;

    @media (--m) {
      height: 100px;
    }

    button {
      height: 30px;
      width: 30px;

      &:focus {
        outline: 1px dashed var(--gray);
      }

      svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}
.cart-drawer__items {
  overflow: auto;
  padding-top: 75px;

  @media (--m) {
    padding-top: 100px;
  }

  svg.loader {
    width: 100px;
    height: 100px;
    animation-duration: 1.5s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
}

.cart-drawer__item {
  padding: 2em 0 1.5em;
  border-top: 1px solid var(--gray);

  &:first-child {
    border-top: 0;
  }

  img {
    width: 90px;
  }

  button {
    top: 1.5em;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
.cart-drawer__item__remove {
  top: 1.5em;

  svg {
    width: 10px;
    height: 10px;
  }
}
