/*================ Site Header ================*/

.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

#shopify-section-header {
    position: sticky;
    position: -webkit-sticky;     
    top: 0;
    background:#fff;
    z-index:10000;

    @media screen and (max-width: 800px) {  
      background:#ffffff57;
    }
}

header {
    display:grid;
    grid-template-columns: 150px 1fr 111px;
    margin: 0;
    font-size:.6em;
    letter-spacing:2px;
    padding:10px 2em;
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;

    @media screen and (max-width: 800px) {  
    padding:1.3em;
    grid-template-columns: 90px 1fr 111px;
}

    
    .koa-logo {
    @media screen and (max-width: 800px) {  
        grid-column-start:2;
        justify-self:center;

        }
    }

  .cart {
    text-decoration:none;
    color:black;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    &:hover {
    color:#CEC342;
    }
    }

	svg {
	max-width:100%;
	width:90px;
	}
li {
	list-style:none;
    padding: 0 13px;



	a {
	text-decoration:none;
	color:black;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    &:hover {
    color:#CEC342;
    }
	}



	.nav-links {
	font-size:.9em;

	}
}

nav {
	    justify-self: right;
    text-transform: uppercase;
    justify-items: right;
    justify-content: right;
	@media screen and (max-width: 800px) {
display:none;
  
   
}
    
	ul {
	padding:0;
	display:grid;
	grid-template-columns:100px 111px 93px 98px ;
	    justify-items: right;
	}

	.nav-bottom--right {
	display:grid;
	    grid-template-columns: 1fr 100px;
    padding: 1em 0;
    justify-items: right;
    grid-gap:1em;

	a {
	text-decoration:none;
	color:black;
	    margin: 4px 0;
    border-left: 2px solid;
    padding-left: 13px;
	}
	}
}
}

.mobile-nav--button {
display:none;
@media screen and (max-width: 800px) {
       display: block;
    position: absolute;
    top: 32px;
}

.mobile-menu {
  height:30px;
    left: 10px;
}

.mobile-menu svg {
  max-width: 56px;
}
	
}


.modal-box.mobile.active {
    display:block;


}

.main.active {
    filter: blur(7px);
}



.modal-box.mobile {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    position: fixed;
    z-index: 9999;
    left:0;
    top: 86px;
    display:none;
    height: 100%;
    width: 100%;
    background:#ffffff8a;


button {
    background:transparent;
    border:none;
     position: absolute;
    left: 0px;
    top: 29px;

    svg {
    max-width:40px;

    }

}




    .menu {
        width: 100%;
    height: 100%;
    padding: 31px;
    margin-top:3em;

    nav {
    display:block;
    ul {
    display:block;
    li {
    border-right:none;
    padding:0;
    }
    }
    }

    li {
    margin: 0 0 5em;
    display: block;
    text-align: left;


    a {
        display: inline;
    padding: 10px 0;
    position: relative;
   transition: .3s; 
   font-size:1.8em;

&:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 1px;
    background: #CEC342;;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
  &:nth-of-type(3):after {
    right: 0;
    left: auto;
  }

    &:hover {
    &:after {
      width: 100%;
      left: 0;
    }}
    
  
    
    }
    }

    }

 
}

.modal-box.open {
    display:block;

    .menu ul {
    margin:8em 0 0;
    padding:0;
    li {
    text-align:left;
    font-size:1.5em;
    margin:1em 0;
    font-weight:bold;
    }
    }
    }
.account-login {
	text-align:right;
}



.cart-quantity {
  cursor: pointer;
}

.cart-drawer-outer {
  display: none;

  &.is-active {
    display: block;
  }
  &.is-visible {
    .cart-drawer {
      transform: translateX(0);
    }
    .cart-drawer-overlay {
      opacity: 0.8;
    }
  }
}
.cart-drawer-overlay {
  opacity: 0;
  transition: all var(--slow) var(--ease);
}
.cart-drawer {
  max-width: 500px;
  transition: all var(--slow) var(--ease);
  transform: translateX(100%);
  flex-direction: column;
  padding-bottom: 160px; /* make room for footer */

  header {
    border-bottom: 1px solid var(--gray);
    height: 75px;

    @media (--m) {
      height: 100px;
    }

    button {
      height: 30px;
      width: 30px;

      &:focus {
        outline: 1px dashed var(--gray);
      }

      svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}
.cart-drawer__items {
  overflow: auto;
  padding-top: 75px;

  @media (--m) {
    padding-top: 100px;
  }

  svg.loader {
    width: 100px;
    height: 100px;
    animation-duration: 1.5s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
}

.cart-drawer__item {
  padding: 2em 0 1.5em;
  border-top: 1px solid var(--gray);

  &:first-child {
    border-top: 0;
  }

  img {
    width: 90px;
  }

  button {
    top: 1.5em;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
.cart-drawer__item__remove {
  top: 1.5em;

  svg {
    width: 10px;
    height: 10px;
  }
}



.icon-1,
.icon-2,
.icon-3 {
    width: 32px;
    height: 1px;
    background-color: #000;
      border:none;
  outline:none;
    transition: all .2s cubic-bezier(.84, .06, .52, 1.8)
}

.icon-1 {
    transform: translateY(-8px);
    animation-delay: .2s
}

.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms
}

.mc-banner {
  top:85px !important;
}


.icon-1.open {
    opacity: 0;
    transform: rotate(40deg)
}

.icon-3.open {
    transform: rotate(-42deg)
}

.icon-2.open {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

@keyframes slideIn {
    0% {
        width: 0%;
        opacity: 0
    }
    100% {
        width: 50%;
        opacity: 1
    }
}

